src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="getUsers" doc:id="f7006aa6-378d-41b2-9ac1-0938d27f3ef2" >
		<db:select doc:name="Select all users" doc:id="fba49918-ff77-4d06-9277-59735bfdda93" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM users]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a6f234c3-b283-4002-a4dd-14291570f309" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	username: payload01.username,
	password: payload01.password,
	email: payload01.email,
	"type": payload01."type"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUsersById" doc:id="861597d0-cbe5-43f7-865e-21de7455c891" >
		<db:select doc:name="Select all users with id" doc:id="a1994562-79d0-4427-a4b9-3f9586fa0dc5" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM users
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="485d559a-7e95-42f1-8d38-f0e2144d8964" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	username: payload01.username,
	password: payload01.password,
	email: payload01.email,
	"type": payload01."type"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postUser" doc:id="76b7e69a-9bac-4f50-bfe3-22787ca3d904" >
		<db:insert doc:name="Insert new User" doc:id="ad7030c8-ec80-4025-bb0c-823cf13d04b1" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO users(username, password, email, type) VALUES(:username, :password, :email, :type)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'username':payload.username,
	'password':payload.password,
	'email':payload.email,
	'type':payload."type"
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='{"message": "User added"}' doc:name="Set Payload" doc:id="3ad227ed-a155-4c2f-9b14-27f30e38224e" />
	</flow>
	<flow name="deleteUser" doc:id="ae2d1d2a-69bb-40d1-aeca-56b49877cd71" >
		<db:delete doc:name="Delete" doc:id="7da89f53-a0ca-41f0-9bdf-116e5abf4732" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM users
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:delete>
		<set-payload value='{"message": "User deleted"}' doc:name="Set Payload" doc:id="5cafb23c-435c-4563-866b-d96a2ae73d60" />
	</flow>
	<flow name="patchUser" doc:id="48235d72-d219-4448-860b-db5ee5de62ea" >
		<flow-ref doc:name="Flow Reference" doc:id="21bb145a-83ad-43e6-87d4-2fb65c366b3f" name="patchInfo"/>
		<db:update doc:name="Patch" doc:id="39c2d10d-e929-4b2a-ac8a-ffbb2ef60079" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE users 
SET 
username = 'Joe', password = 'password', email = 'joe@mail.com', type = 'USER'
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	'id': attributes.uriParams.id
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='{"message": "User patched"}' doc:name="Set Payload" doc:id="d5817231-2b13-48e6-a355-6ae6332dc4bb" />
	</flow>
	<flow name="patchInfo" doc:id="cebcbace-0f60-4353-9797-6b8f11ddc085" >
		<ee:transform doc:name="Transform Message" doc:id="7abbdc01-107f-47c5-bf3e-05fb5cdb146f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars: payload pluck ($$ ++ " = " ++ "'" ++ $ ++ "'") joinBy (", ")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload.vars]" doc:name="Set Payload" doc:id="ada6669d-ec54-4fa5-82b1-b2903e463b27" />
	</flow>
</mule>
