src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="03c3de41-2a57-4e9a-a11c-b3107940ea04" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d19a1b10-602c-4cb8-ac38-9a0aa771a7cf" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="anypoint" >
			<db:connection-properties >
			</db:connection-properties>
		</db:my-sql-connection>
	</db:config>
	<flow name="getUsers" doc:id="f7006aa6-378d-41b2-9ac1-0938d27f3ef2" >
		<db:select doc:name="Select all users" doc:id="fba49918-ff77-4d06-9277-59735bfdda93" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM users]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a6f234c3-b283-4002-a4dd-14291570f309" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	username: payload01.username,
	password: payload01.password,
	email: payload01.email,
	"type": payload01."type"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getUsersById" doc:id="861597d0-cbe5-43f7-865e-21de7455c891" >
		<db:select doc:name="Select all users with id" doc:id="a1994562-79d0-4427-a4b9-3f9586fa0dc5" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM users
WHERE id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'id' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="485d559a-7e95-42f1-8d38-f0e2144d8964" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.id,
	username: payload01.username,
	password: payload01.password,
	email: payload01.email,
	"type": payload01."type"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postUser" doc:id="76b7e69a-9bac-4f50-bfe3-22787ca3d904" >
		<set-payload value='{"message": "User added (not)"}' doc:name="Set Payload" doc:id="3ad227ed-a155-4c2f-9b14-27f30e38224e" />
	</flow>
	<flow name="deleteUser" doc:id="ae2d1d2a-69bb-40d1-aeca-56b49877cd71" >
		<set-payload value='{"message": "User deleted (not)"}' doc:name="Set Payload" doc:id="5cafb23c-435c-4563-866b-d96a2ae73d60" />
	</flow>
	<flow name="putUser" doc:id="48235d72-d219-4448-860b-db5ee5de62ea" >
		<set-payload value='{"message": "User edited (not)"}' doc:name="Set Payload" doc:id="2fd9bd88-68fd-457f-b4e9-5f69fe615910" />
	</flow>
</mule>
